footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  footer .sec-2 {
    background-color: var(--bg-secondary-color);
    padding: 0.5%;
    margin-bottom: 0%;
  }
  footer .sec-2 .footer-sec {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-sec h3{
    color: #5B4F47;

  }
  .footer-sec p{
    color: #5B4F47;
  }